/**============================
  2.19 Swiper Slider Pagination CSS
====================================**/
.swiper-pagination {
  margin-bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(2px + (10 - 2) * ((100vw - 320px) / (1920 - 320)));
  @media only screen and (max-width: 425px) {
    margin-bottom: 5%;
  }

  &-bullet {
    width: 12px;
    height: 12px;
    border: 2px solid $title-color;
    border-radius: 100%;
    background-color: transparent;
    transition: all 0.3s;
    position: relative;
    transition: all 0.3s;
    opacity: 1;
    @media only screen and (max-width: 1399px) {
      width: 10px;
      height: 10px;
    }
    @media only screen and (max-width: 767px) {
      width: 8px;
      height: 8px;
    }
    &::before {
      position: absolute;
      content: "";
      width: 22px;
      height: 22px;
      border-radius: inherit;
      border: 2px solid transparent;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s;
      @media only screen and (max-width: 1399px) {
        width: 18px;
        height: 18px;
      }
      @media only screen and (max-width: 767px) {
        width: 16px;
        height: 16px;
      }
    }
    &-active {
      background-color: var(--theme-color);
      border-color: transparent;
      &::before {
        border-color: var(--theme-color);
      }
    }
  }
  &.small {
    gap: 6px;
    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;

      &::before {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.swiper-box {
  position: relative;
  .swiper-next,
  .swiper-prev {
    width: calc(27px + (32 - 27) * ((100vw - 320px) / (1920 - 320)));
    height: calc(27px + (32 - 27) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: $white;
    box-shadow: 0px 0px 4px rgba(#005c5f, 0.13);
    transform: all 0.5s;
    position: absolute;
    top: 50%;
    transform: rotate(180deg) translateY(-50%);
    transform-origin: top;
    z-index: 2;

    svg {
      width: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
      height: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
      transition: all 0.5s;
      [class="dark"] & {
        stroke: $title-color;
      }
    }
    &:hover,
    &:focus {
      background-color: $theme-denger;
      svg {
        stroke: $white;
        [class="dark"] & {
          stroke: $title-color;
        }
      }
    }
  }
  .swiper-prev {
    left: calc(0px + (-18 - 0) * ((100vw - 320px) / (1920 - 320)));
  }
  .swiper-next {
    right: calc(0px + (-18 - 0) * ((100vw - 320px) / (1920 - 320)));
  }
}

.swiper-button {
  @media only screen and (max-width: 991px) {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    transform: rotate(180deg);
    transform-origin: center;
    [dir="rtl"] & {
      flex-direction: row-reverse;
    }
  }

  .swiper-next,
  .swiper-prev {
    @media only screen and (max-width: 991px) {
      position: relative;
      inset: 0;
      border: $border-blog;
      transform: unset;
    }
  }
}
