/**=====================
3.12 Instagram Section CSS 
=============================**/

.intagram-section {
  overflow: hidden;
  .instagram-slider {
    .swiper-wrapper {
      margin-top: -2px;
      margin-bottom: -2px;

      @media only screen and (max-width: 767px) {
        padding: 2px 51%;
      }
      @media only screen and (max-width: 576px) {
        padding: 2px 0;
      }
    }
  }
}

.intagram-section2 {
  position: relative;
  .back-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 31%;
    z-index: -1;
  }
}
